<div class="navbar" ng-controller="loggedInNavController">
  <div class="headercompanyname">Banal Conga Line</div>
  <ul class="navlinks">
    <li ng-click="togglePostRequest()">POST REQUEST</li>
    <li ng-click="togglePostEvent()">POST EVENT</li>
    <li ng-click="redirect('requests')">SEARCH REQUESTS</li>
    <li ng-click="redirect('events')">SEARCH EVENTS</li>
    <li ng-click="redirect('user')">PROFILE</li>
    <li ng-click="logout()">LOGOUT</li>
  </ul>
  <div class="postRequestForm" ng-show="showRequests">
    <form ng-submit="sendPostRequest()">
      Requested Talent: 
      <select type="text" ng-model="request.talent">
        <option ng-repeat="talent in talents">{{ talent }}</option>
      </select><br>
      Level: <select ng-model="request.level">
        <option ng-repeat="level in levels">{{ level }}</option>
      </select><br>
      Location: <select ng-model="request.location">
        <option ng-repeat="neighborhood in neighborhoods">{{ neighborhood }}</option>
      </select><br>
      <input type="submit" value="SUBMIT">
    </form>
  </div>

  <!-- <div class="postRequestForm" ng-show="showRequests">
    <form ng-submit="sendPostRequest()">
      Requested Talent: <select ng-model="request.talent">
        <option ng-repeat="talent in talents">{{ talent }}</option>
      </select><br>
      Level: <select ng-model="request.level">
        <option ng-repeat="level in levels">{{ level }}</option>
      </select><br>
      Location: <select ng-model="request.location">
        <option ng-repeat="neighborhood in neighborhoods">{{ neighborhood }}</option>
      </select><br>
      <input type="submit" value="SUBMIT">
    </form>
  </div> -->
  
  <div class="postEventForm" ng-show="showEvents">
    <form ng-submit="sendPostEvent()">
      Event Name: <input type="text" ng-model="ev.name"><br>
      Date: 
        Year <select ng-model='date.year'>
          <option ng-repeat="year in years">{{ year }}</option>
        </select>
        Month <select ng-model="date.month"> 
          <option ng-repeat="month in months">{{ month }}</option>
        </select>
        Day <select ng-model="date.day">
          <option ng-repeat="day in days">{{ day }}</option>
        </select>
      <br>
      Neighborhood: <select ng-model="ev.neighborhood">
        <option ng-repeat="neighborhood in neighborhoods">{{ neighborhood }}</option>
      </select><br>
      Address: <input type="text" ng-model="ev.address"><br>
      HashTags: <input type="text" ng-model="ev.hashtags"><br>
      <input type="submit" value="SUBMIT">
    </form>
  </div>
</div>